USE [master]
GO
/****** Object:  Database [AgricultureHat]    Script Date: 6/10/2020 12:41:48 AM ******/
CREATE DATABASE [AgricultureHat]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AgricultureHat', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\AgricultureHat.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'AgricultureHat_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\AgricultureHat_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AgricultureHat].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AgricultureHat]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 6/10/2020 12:41:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 6/10/2020 12:41:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Designation] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Admins] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Categories]    Script Date: 6/10/2020 12:41:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Crops]    Script Date: 6/10/2020 12:41:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Crops](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[SessionStart] [int] NOT NULL,
	[SessionEnd] [int] NOT NULL,
	[Quentity] [float] NOT NULL,
	[Price] [float] NOT NULL,
	[CategoryId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Crops] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Farmers]    Script Date: 6/10/2020 12:41:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Farmers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Village] [nvarchar](max) NULL,
	[WardNo] [nvarchar](max) NULL,
	[District] [nvarchar](max) NULL,
	[Age] [float] NOT NULL,
	[Image] [nvarchar](max) NULL,
	[Nid] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Farmers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SellCrops]    Script Date: 6/10/2020 12:41:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SellCrops](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FarmerId] [int] NOT NULL,
	[CategoryId] [int] NOT NULL,
	[CropId] [int] NOT NULL,
	[Quantity] [float] NOT NULL,
	[Price] [float] NOT NULL,
	[SoldCropAmount] [int] NOT NULL,
 CONSTRAINT [PK_dbo.SellCrops] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Admins] ON 

INSERT [dbo].[Admins] ([Id], [Name], [Designation], [Email], [Image], [Password]) VALUES (1, N'Refat', N'Admin', N'refatkhan93@gmail.com', NULL, N'12345')
SET IDENTITY_INSERT [dbo].[Admins] OFF
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Name]) VALUES (1, N'Grain')
INSERT [dbo].[Categories] ([Id], [Name]) VALUES (2, N'Fruits')
INSERT [dbo].[Categories] ([Id], [Name]) VALUES (3, N'Vegetables')
SET IDENTITY_INSERT [dbo].[Categories] OFF
SET IDENTITY_INSERT [dbo].[Crops] ON 

INSERT [dbo].[Crops] ([Id], [Name], [Image], [SessionStart], [SessionEnd], [Quentity], [Price], [CategoryId]) VALUES (1, N'Corn', N'Photos/Crop/vutta.jpg', 3, 5, 0, 0, 1)
INSERT [dbo].[Crops] ([Id], [Name], [Image], [SessionStart], [SessionEnd], [Quentity], [Price], [CategoryId]) VALUES (3, N'Paddy-Dhan', N'Photos/Crop/Paddy.jpg', 5, 8, 0, 0, 1)
INSERT [dbo].[Crops] ([Id], [Name], [Image], [SessionStart], [SessionEnd], [Quentity], [Price], [CategoryId]) VALUES (4, N'Binni-Dhan', N'Photos/Crop/Binni.jpg', 6, 8, 0, 0, 1)
SET IDENTITY_INSERT [dbo].[Crops] OFF
SET IDENTITY_INSERT [dbo].[Farmers] ON 

INSERT [dbo].[Farmers] ([Id], [Name], [Village], [WardNo], [District], [Age], [Image], [Nid], [Phone], [Email], [Password]) VALUES (1, N'Refat khan Pathan', N'Gobinderkhil', N'14', N'Chittagong', 23, N'Photos/56539d85-cb0a-43f2-943d-34d66d5e29ea.jpg', N'123456', N'01755001451', N'refatkhan93@gmail.com', N'12345678')
SET IDENTITY_INSERT [dbo].[Farmers] OFF
SET IDENTITY_INSERT [dbo].[SellCrops] ON 

INSERT [dbo].[SellCrops] ([Id], [FarmerId], [CategoryId], [CropId], [Quantity], [Price], [SoldCropAmount]) VALUES (1, 1, 1, 1, 0, 30, 10)
INSERT [dbo].[SellCrops] ([Id], [FarmerId], [CategoryId], [CropId], [Quantity], [Price], [SoldCropAmount]) VALUES (3, 1, 1, 10, 15, 35, 10)
INSERT [dbo].[SellCrops] ([Id], [FarmerId], [CategoryId], [CropId], [Quantity], [Price], [SoldCropAmount]) VALUES (5, 1, 3, 5, 10, 20, 0)
SET IDENTITY_INSERT [dbo].[SellCrops] OFF
ALTER TABLE [dbo].[Crops] ADD  DEFAULT ((0)) FOR [CategoryId]
GO
ALTER TABLE [dbo].[SellCrops] ADD  DEFAULT ((0)) FOR [SoldCropAmount]
GO
USE [master]
GO
